﻿
@inject SignalHub.Shared.Loaders.LoaderManager LoaderManager
@inject SignalHub.Shared.Services.SignalQueryService QueryService
@inject SignalHub.Shared.Services.FilterTranslator FilterTranslator

<div class="filters-container" style="border:solid 1px #ddd;background-color:#eee;font-size:12px;">
    <div class="float-left" style="padding:2px 4px;">@Title</div>

    @foreach (var loaderFilter in LoaderFilters)
    {
        var fieldFilter = loaderFilter.Filter;
        var filterText = FilterTranslator.Translate(fieldFilter);
        var activeStyle = loaderFilter.Active ? "color:#212529"  : "color:#eee";

        <div class="filter-details float-left" style="background-color:#ddd;padding: 2px 15px;">
            <button @onclick="async => ToggleFilter(loaderFilter)" class="btn btn-sm" style="padding:0px;font-size:12px;border:none;@activeStyle">@filterText</button>&nbsp;&nbsp;
            <button @onclick="async => RemoveFilter(loaderFilter)" class="btn btn-sm" style="padding:0px;font-size:12px;border:none;">x</button>
        </div>
    }
    @if (!LoaderFilters.Any())
    {
        <div class="filter-details not-set float-left" style="background-color:#ddd;padding: 2px 15px;">No filter set</div>
    }
    <div class="clearfix"></div>
</div>


@code {

    [Parameter] public string Title { get; set; }

    bool IsFiltering = false;

    class LoaderFilter
    {
        public SignalHub.Shared.Loaders.Abstractions.Loader Loader { get; set; }
        public SignalHub.Shared.Models.FieldFilter Filter { get; set; }
        public SignalHub.Shared.Models.Field Field { get; set; }
        public bool Active { get; set; } = true;
    }

    private IList<LoaderFilter> LoaderFilters { get; set; } = new List<LoaderFilter>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //LoaderManager.GetAll().ToList().ForEach(l => l.OnFilterChanged += OnManagerFilterChanged);
            LoaderManager.OnFilterSet += OnManagerFilterChanged;
            LoaderManager.OnFilterRemoved += OnManagerFilterChanged;
        }
    }

    private async Task OnManagerFilterChanged(SignalHub.Shared.Loaders.Abstractions.Loader loader, SignalHub.Shared.Loaders.Abstractions.FilterChangeEventArgs ev)
    {
        if (!IsFiltering)
        {
            LoaderFilters = await Task.Run(() => ev.Filters.Select(f => new LoaderFilter { Loader = loader, Filter = f.Filter, Field = f.Field }).ToList());
            StateHasChanged();
        }
    }

    private async Task RemoveFilter(LoaderFilter loaderFilter)
    {
        LoaderFilters.Remove(loaderFilter);

        IsFiltering = true;
        var filter = new SignalHub.Shared.Loaders.FilterField { Field = loaderFilter.Field, Filter = loaderFilter.Filter };
        await loaderFilter.Loader.RemoveFilter(filter);
        IsFiltering = false;
    }

    private async Task ToggleFilter(LoaderFilter loaderFilter)
    {
        loaderFilter.Active = !loaderFilter.Active;

        IsFiltering = true;
        var filter = new SignalHub.Shared.Loaders.FilterField { Field = loaderFilter.Field, Filter = loaderFilter.Filter };
        if (loaderFilter.Active)
            await loaderFilter.Loader.SetFilter(filter);
        else
            await loaderFilter.Loader.RemoveFilter(filter);
        IsFiltering = false;
    }
}
