﻿.buttonColor {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

.color-picker-modal {
    height: 320px;
    width: 608px;
    overflow: auto;
}



﻿.color-picker-modal:target {
    display: block;
}



.color-picker-content {
    margin: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 12px #999;
    -moz-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    height:100%;
    
}

.color-picker-case {
    width: 32px;
    height: 32px;
}

    .color-picker-case:hover {
        border: 1px solid #FFF;
        cursor: pointer;
    }


.color-picker-palette {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 320px;
}


.show {
    display: block;
    animation-name: show-animation;
    animation-duration: 0.5s;
}

@keyframes show-animation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hide {
    display: none;
}

.color-picker-header {
    background-color: #ffffff;
    height: 10%;
    color: black;
}

.color-picker-title {
    margin: 5px;
    display: inline-block;
}

.color-picker-close-button {
    float: left;
    cursor: pointer;
}

    .color-picker-close-button:hover {
        color: red;
    }



@media (max-width: 767px) {
    .color-picker-palette {
        flex-direction: row-reverse;
        height: 608px;
    }

    .color-picker-content {
        width: 320px;
        height: 608px;
    }
}