﻿@page "/Color"

<br />
<br />
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" @onclick="OpenModal">
            <div style="background-color:@SelectedColor" class="buttonColor"></div> Select a Color
        </button>
    </div>
    <div class="col-9">
        <ColorPicker ShowColorPicker="ShowColorPicker" OnClose="ClosedEvent" Color="@SelectedColor">
        </ColorPicker>
    </div>
</div>
<br />
<br />
<div style="background-color:@SelectedColor;width:100px;height:100px;text-align:center"></div>


@code {
    bool ShowColorPicker = default;
    string SelectedColor = "#F1F7E9";

    void OpenModal() => ShowColorPicker = true;

    void ClosedEvent((string value, bool showColorPicker) item)
    {
        SelectedColor = item.value != null ? item.value : SelectedColor;
        ShowColorPicker = item.showColorPicker;
    }
}
